<ng-template #footerTpl>
  <div class="os-dp-footer">
    <button type="button" class="os-dp-btn-today" (click)="selectToday()">Aujourd'hui</button>
    <button type="button" class="os-dp-btn-clear" (click)="clearValue()">Effacer</button>
  </div>
</ng-template>

<div class="os-datepicker-wrapper">
  <input
    [id]="id"
    type="text"
    class="form-control os-dp-input"
    [formControl]="internalControl"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [maxDate]="maxDate!"
    [minDate]="minDate!"
    [startDate]="today"
    [footerTemplate]="footerTpl"
    ngbDatepicker
    #dpRef="ngbDatepicker"
    (blur)="onBlur()"
  />
  <button
    type="button"
    class="os-dp-toggle"
    (click)="dpRef.toggle()"
    tabindex="-1"
    aria-label="Ouvrir le calendrier"
    [disabled]="isDisabled()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
  </button>
</div>
