/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input.css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input.css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input.css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	margin-bottom: 0px;
	margin-top:-1px;
	margin-right:5px;
}

/*specific classes related to Checkbox skins*/

.klaus{background-image:url(/images/checkbox/checkbox-css.png);}

input.css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input.css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input.css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input.css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input.css-checkbox.lrg + label.css-label.lrg {
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	padding-left: 20px;
	vertical-align: middle;
}

input.css-checkbox.lrg:checked + label.css-label.lrg{
    background-position: 0 -12px;
}

